@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--accent-foreground: #ffffff;
	--accent: #0066ff;
	--background: #ffffff;
	--border: #000000;
	--card-foreground: #000000;
	--card: #ffffff;
	--destructive-foreground: #ffffff;
	--destructive: #000000;
	--foreground: #000000;
	--input: #000000;
	--muted-foreground: #333333;
	--muted: #f0f0f0;
	--primary-foreground: #ffffff;
	--primary: #ff3333;
	--ring: #ff3333;
	--secondary-foreground: #000000;
	--secondary: #ffff00;
	--shadow-blur: 0px;
	--shadow-color: #000000;
	--shadow-opacity: 1;
	--shadow-spread: 0px;
	--shadow-x: 4px;
	--shadow-y: 4px;
}

.dark {
	--accent-foreground: #000000;
	--accent: #3399ff;
	--background: #000000;
	--border: #ffffff;
	--card-foreground: #ffffff;
	--card: #333333;
	--destructive-foreground: #000000;
	--destructive: #ffffff;
	--foreground: #ffffff;
	--input: #ffffff;
	--muted-foreground: #cccccc;
	--muted: #333333;
	--primary-foreground: #000000;
	--primary: #ff6666;
	--ring: #ff6666;
	--secondary-foreground: #000000;
	--secondary: #ffff33;
	--shadow-blur: 0px;
	--shadow-color: #000000;
	--shadow-opacity: 1;
	--shadow-spread: 0px;
	--shadow-x: 4px;
	--shadow-y: 4px;
}

@theme inline {
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-background: var(--background);
	--color-border: var(--border);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-foreground: var(--foreground);
	--color-input: var(--input);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-ring: var(--ring);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-shadow-color: var(--shadow-color);
	--font-mono: "Space Mono", "Space Mono Fallback";
	--font-sans: "DM Sans", "DM Sans Fallback";
	--shadow-sm: var(--shadow-x) var(--shadow-y) calc(var(--shadow-blur) * 1.5)
		var(--shadow-spread)
		color-mix(
			in srgb,
			var(--shadow-color) calc(var(--shadow-opacity) * 100%),
			transparent
		);
	--shadow-xs: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
		var(--shadow-spread)
		color-mix(
			in srgb,
			var(--shadow-color) calc(var(--shadow-opacity) * 100%),
			transparent
		);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}
